<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/aside.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>Admin</title>
</head>
<body>
    <div id="container">
        <header th:replace="~{fragment/header :: header}"></header>
        <main>
            <div class="admin">
                <h1 class="admin-title">ADMIN PRODUCT ADD</h1>
                <div class="admin-container">
                    <aside th:replace="~{admin/fragment/aside :: aside}"></aside>
                    <section class="admin-main">
                        <select class="product-input">
                            <option value="none" selected>상품 종류</option>
                            <option value="TEES">TEES</option>
                            <option value="SWEATS">SWEATS</option>
                            <option value="OVERDYED">OVERDYED</option>
                            <option value="TOPS_SHIRTS">TOPS & SHIRTS</option>
                            <option value="KNITS">KNITS</option>
                            <option value="BOTTOMS">BOTTOMS</option>
                            <option value="DENIM">DENIM</option>
                            <option value="HEADWEAR">HEADWEAR</option>
                            <option value="ACCESSORIES">ACCESSORIES</option>

                        </select>
                        <input type="text" class="product-input" placeholder="상품명을 입력하세요">
                        <input type="text" class="product-input" placeholder="가격을 입력하세요">
                        <div class="product-option">
                            <div class="option-half">
                                <select class="product-input">
                                    <option value="none" selected>색상 선택</option>
                                    <option value="black">black</option>
                                    <option value="red">red</option>
                                    <option value="blue">blue</option>
                                    <option value="green">green</option>
                                </select>
                            </div>
                            <div class="option-half">
                                <select class="product-input">
                                    <option value="none" selected>사이즈 선택</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                            </div>
                        </div>
                        <textarea class="product-input" placeholder="간략 설명"></textarea>
                        <textarea class="product-input" placeholder="상세 설명"></textarea>
                        <textarea class="product-input" placeholder="기타 설명"></textarea>
                        <textarea class="product-input" placeholder="관리 방법"></textarea>
                        <textarea class="product-input" placeholder="배송 설명"></textarea>
                        <form enctype="multipart/form-data">
                            <div class="product-img-inputs">
                                <label>상품 이미지</label>
                                <button type="button" class="add-button">추가</button>
                                <input type="file" class="file-input product-invisible" name="file" multiple>
                            </div>
                        </form>
                        <div class="product-images">
                            
                        </div>
                        <button type="button" class="submit-button product-button black-button">등록하기</button>
                    </section>
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </div>
    <script src="/static/js/product_add.js"></script>
</body>
</html>