.admin-title {
    text-align: center;
    margin-bottom: 30px;
}

.admin-container {
    display: flex;
    justify-content: center;

    margin: 0px auto;
}

section {
    padding: 0px 20px;
    width: 956px;
}

.product-option {
    display: flex;
    align-items: center;
}

.option-half:nth-child(1) {
    width: 50%;
    padding-right: 5px;
}

.option-half:nth-child(2) {
    width: 50%;
    padding-left: 5px;
}

textarea {
    height: 300px;
    overflow-y: auto;
    resize: none;
}

.product-button {
    width: 100%;
}

.product-invisible {
    display: none;
}

.product-img-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.add-button {
    margin: 0;
    padding: 2px;

    width: 50px;
    height: 30px;
}

.product-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 15px;

    width: 100%;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2.5% 10px;
    width: 20%;
    height: 200px;
    overflow: hidden;

    position: relative;
}

.product-img {
    width: 100%;
}

.fa-xmark {
    position: absolute;
    right: 2px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    width: 20px;
    height: 20px;

    color: white;
    background-color: rgb(255, 103, 103);

    cursor: pointer;
}

/*<<<<<<<<<<<<<<<<< LIST >>>>>>>>>>>>>>>*/

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-select {
    width: 200px;
}

.product-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.product-search input, button {
    margin: 0px 0px 15px 10px;
    padding: 10px;
}

.page-buttons {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
    width: 140px;
}
.page-buttons li {
    border: 1px solid rgb(198, 198, 198);
    border-radius: 2px;
    width: 17px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(198, 198, 198);
}

.product-list {
    margin-bottom: 20px;
}

.product-info {
    border: none;
}

th, td {
    border: 1px solid rgb(198, 198, 198);
    padding: 5px 5px;
    text-align: center;
}

th:nth-child(1) {
    width: 70px;
}
th:nth-child(2) {
    width: 120px;
}
th:nth-child(4) {
    width: 100px;
}
th:nth-child(5) {
    width: 100px;
}
th:nth-child(6) {
    width: 70px;
}
th:nth-child(7) {
    width: 70px;
}
th:nth-child(8) {
    width: 70px;
}

td:nth-child(2) {
    text-align: left;
}
td:nth-child(3) {
    text-align: left;
}
td:nth-child(4) {
    text-align: right;
}

.product-list th, .product-list td {
    height: 25px;
}

.product-info td {
    border: none;
} 

.detail-invisible {
    display: none;
}

.list-button {
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 0;
    width: 40px;
    height: 30px;
}

.detail-button {
    color: rgb(0, 200, 255);
}

.delete-button {
    color: rgb(255, 64, 0);
}

.list-button .fa-regular {
    font-size: 14px;
}

.product-info textarea {
    height: 60px;
}

.update-button {
    margin: 0px;
    padding: 15px;
    width: 100%;
    
}