@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
}

body, html {
    margin: 0px;
    height: 100%;
}

input {
    margin-bottom: 15px;
    border: 1px solid rgb(198, 198, 198);
    padding: 10px;

    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

button {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 15px 0px;
    width: 80px;

    font-weight: 700;
    color: black;
    background-color: white;

    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
}