<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-flex">
                    <div class="header-left-container">
                        <div class="logo-container">
                            <img class="site-logo" src="/static/images/logo/site_logo.PNG" alt="site_logo">
                        </div>
                        <div class="menu-container">
                            <div class="site-nav-menu">
                                <a href="#ALL" class="site-nav-parent">SHOP</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-right-container">
        
                    </div>
                </div>
            </div>
            <nav>
                <div class="site-nav-mega">
                    <a href="" class="site-nav-child-link">메뉴1</a>
                    <a href="" class="site-nav-child-link">메뉴2</a>
                    <a href="" class="site-nav-child-link">메뉴3</a>
                    <a href="" class="site-nav-child-link">메뉴4</a>
                    <a href="" class="site-nav-child-link">메뉴5</a>
                    <a href="" class="site-nav-child-link">메뉴6</a>
                    <a href="" class="site-nav-child-link">메뉴7</a>
                    <a href="" class="site-nav-child-link">메뉴8</a>
                    <a href="" class="site-nav-child-link">메뉴9</a>
                    <a href="" class="site-nav-child-link">메뉴10</a>
                    <a href="" class="site-nav-child-link">메뉴11</a>
                    <a href="" class="site-nav-child-link">메뉴12</a>
                    <a href="" class="site-nav-child-link">메뉴13</a>
                </div>
                <div class="site-nav-mega">
                    <a href="" class="site-nav-child-link">메뉴1</a>
                    <a href="" class="site-nav-child-link">메뉴2</a>
                    <a href="" class="site-nav-child-link">메뉴3</a>
                    <a href="" class="site-nav-child-link">메뉴4</a>
                </div>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
</body>
</html>