<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Shop</title>
</head>
<body>
    <div id="container">
        <header th:fragment="header">
            <div class="header-container">
                <div class="header-flex">
                    <div class="header-left-container">
                        <div class="logo-container">
                            <img class="site-logo" src="/static/images/logo/site_logo.PNG" alt="site_logo">
                        </div>
                        <div class="menu-container">
                            <div class="site-nav-menu">
                                <a href="/collections/all" class="site-nav-parent">SHOP</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-right-container">
                        <button class="site-header-button">SEARCH</button>
                        <button class="site-header-button">BAG(<span class="bac-count">1</span>)</button>
                        <button class="site-header-button"><img class="korea-img" src="/static/images/logo/korea_img.PNG" alt="korea"></button>
                    </div>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-mega">
                    <a href="/collections/new-arrivals" class="site-nav-child-link">NEW</a>
                    <a href="/collections/denim" class="site-nav-child-link">DENIM</a>
                    <a href="/collections/tees" class="site-nav-child-link">TEES</a>
                    <a href="/collections/sweats" class="site-nav-child-link">SWEATS</a>
                    <a href="/collections/overdyed" class="site-nav-child-link">OVERDYED</a>
                    <a href="/collections/pants" class="site-nav-child-link">PANTS</a>
                    <a href="/collections/shorts" class="site-nav-child-link">SHORTS</a>
                    <a href="/collections/outerwear" class="site-nav-child-link">OUTERWEAR</a>
                    <a href="/collections/knits" class="site-nav-child-link">KNITS</a>
                    <a href="/collections/tops-shirts" class="site-nav-child-link">TOPS & SHIRTS</a>
                    <a href="/collections/headwear" class="site-nav-child-link">HEADWEAR</a>
                    <a href="/collections/accessories" class="site-nav-child-link">ACCESSORIES</a>
                    <a href="/collections/all" class="site-nav-child-link">ALL</a>
                </div>
                <div class="site-nav-mega">
                    <a href="/account/login" class="site-nav-child-link">ACCOUNT</a>
                    <a href="/pages/customer-support" class="site-nav-child-link">CONTACT</a>
                    <a href="/blogs/features" class="site-nav-child-link">FEATURES</a>
                    <a href="/blogs/chapters" class="site-nav-child-link">CHAPTERS</a>
                </div>
            </nav>
            <script src="/static/js/header.js"></script>
        </header>
        <main>
            <section class="section-product">
                <div class="product-images">
                </div>
                <div class="offers">
                    <h1 class="product-title">VEIL CAMO HOODIE</h1>
                    <div class="product-price">200000</div>
                    <div class="product-form">
                        <form action="#" method="get">
                            <input type="hidden" id="group-id" name="groupId">
                            <input type="hidden" id="product-name" name="productName">
                            <input type="hidden" id="product-price" name="productPrice">
                            <div class="product-size">
                            </div>
                            <select class="product-color" name="productColor">
                            </select>
                            <button type="button" class="black-button bag-button">ADD TO BAG</button>
                            <button type="submit" class="checkout-button">CHECKOUT</button>
                        </form>
                    </div>
                    <div class="product-details">
                        <pre class="simple-info">Stone washed 400gsm fleece hoodie.</pre>
                        <pre class="detail-info"><strong>PRODUCT DETAILS</strong>
- Camo pattern by Veil Camo™
- Adjustable cotton drawcord with metal eyelets
- 1X1 rib cuffs and hem
- Front kangaroo pocket</pre>
                        <pre class="option-info">Gil is 5'10" wearing size Medium</pre>
                        <pre class="management-info">100% Dry Cotton Fleece
Imported</pre>
                        <pre class="shipping-info">7만원 이상 구매시 무료배송</pre>
                    </div>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </div>
    <script src="/static/js/product_detail.js"></script>
</body>
</html>