<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@connectlive/connectlive-web-sdk/dist/connectlive-web-sdk.min.js"></script>
</head>
<body>
    <main>
        <section>
          <h2>Kakao i Connect Live</h2>
          <h1>Video Call</h1>
      
          <div id="button-group">
            <button id="connect">Connect</button>
            <button id="disconnect">Disconnect</button>
          </div>
      
          <div id="status">Disconnected</div>
      
          <div id="video-list">
            <ul id="local-container"></ul>
            <h3>Others</h3>
            <ul id="remote-container"></ul>
          </div>
      
          <div id="log-list">
            <h3>Log</h3>
            <ul id="log">
              <li>Ready to connect</li>
            </ul>
          </div>
        </section>
      </main>
      
</body>
</html>