<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/EQsBfgUbyOQ" title="Classic Jazz 🎷 일하고 공부하고 휴식을 취할 수 있는 절묘한 11월 재즈와 달콤한 가을 보사노바" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>